/* Variables */
$text-color: #3D3E40;
$text-color-hover: white;
$bg-img-color: linear-gradient(to right, #a1a3a5d7, #757577ea);
$bg-color: #3D3E40;
$bg-color-body: #eeecece8;
$form-color: #3D3E40;
$radius: 100px; 